18-forkify/starter/.parcel-cache/
.parcel-cache/
.parcel-cache/
.parcel-cache/
**/.parcel-cache/
.parcel-cache/
**/.parcel-cache/
.parcel-cache/
**/.parcel-cache/
node_modules/
dist/
.env
node_modules